<footer>
Additional sponsors:<br>
  <a href="https://www.canterbury.ac.uk/conferences/conferences.aspx"><img style="width: 22%; vertical-align: top" src="/assets/img/sponsors/CCCU-logo-white-on-black.png"></a>
  <a href="https://ubuntu.com"><img style="width: 22%; vertical-align: top" src="/assets/img/sponsors/ubuntu_white-orange_hex.svg"></a>
  <a href="https://suse.com"><img style="width: 22%; vertical-align: top" src="/assets/img/sponsors/SUSE-official-logo-white.svg"></a>
</footer><footer>
<a href="https://github.com/gjuniioor/darcli">Darcli Theme by GJuniioor</a>
</footer>
<footer>
  Except where otherwise attributed, content here is &copy; 2017 OggCamp, a project of <a href="https://publicsoftware.eu/">Public Software CIC</a>
</footer>
