<nav>
	<ul>
		<li><a href="{{ site.github.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.github.url }}{{ site.baseurl }}/tickets">Tickets</a></li>
		<li><a href="{{ site.github.url }}{{ site.baseurl }}/accomodation">Accomodation</a></li>
		<li><a href="{{ site.github.url }}{{ site.baseurl }}/venue">Venue</a></li>
		<li><a href="{{ site.github.url }}{{ site.baseurl }}/guidelines">Talk Guidelines</a></li>
		<li><a href="{{ site.github.url }}{{ site.baseurl }}/scheduled-track">The Schedule</a></li>
		<li><a href="{{ site.github.url }}{{ site.baseurl }}/code-of-conduct">Code of Conduct</a></li>
		<li><a href="{{ site.github.url }}{{ site.baseurl }}/history">History</a></li>
	</ul>
	<ul>
{% if site.twitter != '' %}
		<li><a href="https://twitter.com/{{ site.twitter }}"><img src="{{ site.github.url }}{{ site.baseurl }}/assets/img/icons/twitter.png" alt="Go to the OggCamp Twitter account"></a></li>
{% endif %}
{% if site.facebook != '' %}
		<li><a href="https://facebook.com/{{ site.facebook }}"><img src="{{ site.github.url }}{{ site.baseurl }}/assets/img/icons/facebook.png" alt="Go to the OggCamp Facebook account"></a></li>
{% endif %}
{% if site.google != '' %}
		<li><a href="https://plus.google.com/{{ site.google }}"><img src="{{ site.github.url }}{{ site.baseurl }}/assets/img/icons/google-plus.png"></a></li>
{% endif %}
{% if site.telegram != '' %}
		<li><a href="https://t.me/joinchat/{{ site.telegram }}"><img src="{{ site.github.url }}{{ site.baseurl }}/assets/img/icons/telegram.png"></a></li>
{% endif %}
        </ul>
</nav>
<a style="margin:15px;" href="https://www.entroware.com">Proudly sponsored by: <img style="width:40%;" src="{{ site.github.url }}{{ site.baseurl }}/assets/img/sponsors/entroware-full-white.svg"></a>
